*{
  margin: 0;
  padding:0;
  border:0;
  font-size: 100%;
  vertical-align: baseline;
}

body{
  background-color: #002037;
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 30px;
  position: relative;
}

label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

#name{
  display: block;
  width: 45%;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  margin: 0 auto;
  height: 20px;
}
#email{
  display: block;
  width: 45%;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  margin: 0 auto;
  height: 20px;
}
#message{
  display: block;
  width: 45%;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  margin: 0 auto;
  height: 20px;
}
button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 0 5px #050101;
  display:flex;
  justify-content:center;
  margin: 0 auto;
}
.title{
  font-size: 50px;
  position: relative;
  top:20px;
}
.login{
  position:relative;
  bottom:-25px;
  left:525px;
  background-color: #dcd9d9;
  border-radius: 5px;
  padding: 20px;
  margin: 50px auto;
  width: 400px;
  box-shadow: 0px 0px 10px #888888;
}
.logo{
  width: 110px; /* Cambia el ancho según tus necesidades */
  height: 60px; /* Mantenemos la proporción original */
}
.head{
  background:#002037;
  display: flex;
  align-items: center;
  justify-content:space-between;
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 100;
}
header{
  background-image: url(https://images.pexels.com/photos/235922/pexels-photo-235922.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  height: 500px;
  justify-content: center;
}

.navbar{
  display: flex;
  margin-right: 10px;
  
}
.navbar a{
  display: block;
  padding: 23px 20px;
  color:#fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}
.navbar a:hover{
  background:hsla(220, 49%, 74%, 0.589)
}
.section{
  color:white;
  background-color:hsla(219, 60%, 38%, 0.589);
  position: relative;
  top:0px;
  padding: 29px;
}
.title{
  
  position: relative;
  top: 0px;
}
