.hero{
  width: 100%;
  height: 100%;
  background-image:url(/GcoCorp/Imagenes/Background.png);
  background-position: center;
  background-repeat: repeat;
  background-repeat: scroll;
}
.logo{
width: 50px;
}
.login-container {
  background-color: #dcd9d9;
  border-radius: 5px;
  padding: 20px;
  margin: 50px auto;
  width: 400px;
  box-shadow: 0px 0px 10px #888888;
}
h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
}
h2 {
text-align: center;
font-size: 36px;
margin-bottom: 30px;
}
label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
  display: block;
  width: 55%;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  box-shadow: 0 5px #050101;
  display:flex;
  justify-content:center;

}

button[type="submit"]:hover {
  background-color: #3e8e41;
}
button:active{
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#titulo-primero{
  font-size: 80px;
  position: relative;
  top:-20px;
}
a inicar{
position:relative;
bottom:-25px;
left:525px;
}
a registro{
  position:relative;
  bottom: -25px;
  left: 550px;
}
.mi-linea{
  border-color:#030503;
  position:relative;
  top: -150px;
}
.hero{
  width: 100%;
  cursor: pointer;
  margin: 20px;
  margin-top: 0;
}
